<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LaTiPee</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="/img/LaTiPee-small.png">
</head>
<body>
    <header>
    <nav class="directlink">
        <div class="seller">
            <a href="/seller">Trang bán hàng</a>
        </div>
        <div class="login">
            <% if (user) { %>
                <p>Xin Chào, <%= user.userName %> 😄</p>
                <a href="/logout">Đăng Xuất</a>
            <% } else { %>
                <a href="/login">Đăng Nhập / Đăng Kí</a>
            <% } %>
        </div>
    </nav>
    <div class="menu">
    <nav>
        <div class="logo">
            <img src="/img/logo.png">
        </div>
        <div class="search">
            <input type="text" placeholder="Tìm kiếm sản phẩm">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div class="icons">
            <div class="cart-icon"> 
                <a href="/cart">
                    <img src="/img/cart.png" alt="Giỏ hàng">
                </a>
            </div>
            <div class="user-icon">
                <a href="/dasboard">
                    <img src="/img/user.png" alt="Người dùng">
                </a>
            </div>
        </div>
    </nav>
    </div>
    </header>
    <main>
        <div class="sliderwrap">
            <div class="wrap">
              <div class="sliderblock">
                <div id="slider">
                  <ul>
                    <li><img src="/img/banner/iphone-14-pro.jpg" alt="Images1" /></li>
                    <li><img src="/img/banner/samsung-banner.png" alt="Images1" height="100%" /></li>
                    <li><img src="/img/banner/NEEM-BANNER.webp" alt="Images1" height="100%" /></li>
                    <li><img src="/img/banner/applepay.png" alt="Images1" height="100%" /></li>
                  </ul>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </div>

        <section class="category">
            <h3>Danh mục</h3>
            <div class="selection">
                <div class="category1">
                    <span>ĐIỆN TỬ</span>
                </div>
                <div class="category2">
                    <span>GIA DỤNG</span>
                </div>
                <div class="category3">
                    <span>THỜI TRANG</span>
                </div>
                <div class="category4">
                    <span>SẮC ĐẸP</span>
                </div>
            </div>
        </section>
        <div class="product-tab">
            <h1>Sản phẩm</h1>
        </div>
        <div id="">
            <section class="section" >

                <% products.forEach(product => { %>
                    <div class="item-product">
                        <a class="product-link" href="/product/<%= product.ProductID %>">
                            <div>
                                <img src="/img/<%= product.ImageURL %>" alt="">
                                <h3 class="product-name"><%= product.ProductName %></h3>
                                <h3 class="product-price"><%= product.Price %>đ</h3>
                            </div>
                        </a>
                    </div>
                <% }) %>
                
            </section>
            
            <div class="more-product">
                <button id="loadMoreBtn">Xem Thêm...</button>
            </div>
        </div>
          
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
        <script>
            $(document).ready(function() {
                $('.search button').click(function(e) {
                    e.preventDefault();
                    const keyword = $('.search input').val();
                    $.post('/search', { keyword: keyword }, function(products) {
                        // Xóa sản phẩm hiện tại trên trang
                        $('.section').empty();
                
                        // Thêm sản phẩm tìm được vào trang
                        products.forEach(product => {
                            let productItem = `
                                <div class="item-product">
                                    <a href="/product/${product.id}" class="product-link">
                                    <img src="/img/${product.imageURL}" alt="">
                                    <div>
                                        <h3 class="product-name">${product.name}</h3>
                                        <h3 class="product-price">${product.price}đ</h3>
                                    </div>
                                    </a>
                                </div>`;
                            $('.section').append(productItem);
                        });
                    });
                });
            });
        </script>
        
        <script>
            let currentOffset = 8; // Vì bạn đã hiển thị 8 sản phẩm đầu tiên
          
            $('#loadMoreBtn').on('click', function() {
                $.post('/loadMoreProducts', { offset: currentOffset }, function(products) {
                    products.forEach(product => {
                        const productItem = `
                            <div class="item-product">
                                <a href="/product/${product.id}" class="product-link">
                                <img src="/img/${product.ImageURL}" alt="">
                                <div>
                                    <h3 class="product-name">${product.name}</h3>
                                    <h3 class="product-price">${product.price}đ</h3>
                                </div>
                                </a>
                            </div>`;
                
                        $('.section').append(productItem);
                    });
                    currentOffset += 8;
                });
            });

          </script>
        <script src="/Js/slider.js" type="text/javascript"></script>
    </main>

    <footer>
            <div class="footer-logo">
                <img src="/img/LaTiPee Logo.png" width="200px">
            </div>
            <div class="about">
                <h3>Giới thiệu:</h3>
                <ul>
                    <li><a href="#">Về chúng tôi</a></li>
                    <li><a href="#">Điều khoản sử dụng</a></li>
                    <li><a href="#">Chính sách bảo mật</a></li>
                </ul>
            </div>
            <div class="contact">
                <h3>Liên Hệ:</h3>
                <ul>
                    <li><a href="#">Hotline: 1900 0000</a></li>
                    <li><a href="#">Email: Hotro.Lazipee.vn@gmail.com</a></li>
                    <li><a href="#">Địa chỉ: 180 Cao Lỗ, Phường 4, Quận 8, TP.HCM</a></li>
                </ul>
            </div>
    </footer>
</body>
</html>