<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin</title>
    <link rel="stylesheet" href="/css/user_dasboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <nav>
        <div class="logo">
            <a href="/"><img src="/img/logo.png"></a> 
        </div>

        <div class="search">
            <input type="text" placeholder="Tìm kiếm sản phẩm">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </nav>

    <main>
        <div class="title-table">
            <h5>            <% if (user) { %>
                Xin Chào, <%= user.userName %> 🌆
            <% } %></h5>
            <h3>Quản lý tài khoản</h3>
        </div>
        <div class="table-content">
            <div class="table-header">
                <h3>Đơn hàng gần đây</h3>
            </div>
            <div class="table-body">
                <table>
                    <thead>
                        <th>Đơn hàng số #</th>
                        <th>Sản phẩm</th>
                        <th>Tên người đặt</th>
                        <th>Địa chỉ</th>
                        <th>Ngày đặt hàng</th>
                        <th>Tổng cộng</th>
                        <th>Đơn vị vận chuyển</th>
                        <th>Mã đơn vận chuyển</th>
                        <th>Hành Động</th>
                    </thead>
                    <tbody>
                        <% for (const order of orders) { %>
                            <tr>
                                <td>#<%= order.OrderID %></td>
                                <td><%= order.ProductName %></td>
                                <td><%= order.UsersOrderName %></td>
                                <td><%= order.Address %></td>
                                <td><%= order.OrderDate.toDateString() %></td>
                                <td><%= order.Total %>đ</td>
                                <td><%= order.ShipmentName %></td>
                                <td><%= order.ShipmentID %></td>
                                <td>
                                    <button>Đã Giao Hàng</button>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-logo">
          <img src="/img/LaTiPee Logo.png" width="200px">
      </div>
      <div class="about">
          <h3>Giới thiệu:</h3>
          <ul>
              <li><a href="#">Về chúng tôi</a></li>
              <li><a href="#">Điều khoản sử dụng</a></li>
              <li><a href="#">Chính sách bảo mật</a></li>
          </ul>
      </div>
      <div class="contact">
          <h3>Liên Hệ:</h3>
          <ul>
              <li><a href="#">Hotline: 1900 0000</a></li>
              <li><a href="#">Email: Hotro.Lazipee.vn@gmail.com</a></li>
              <li><a href="#">Địa chỉ: 180 Cao Lỗ, Phường 4, Quận 8, TP.HCM</a></li>
          </ul>
      </div>
      </footer>
</body>
</html>